@import "nullstyle.scss";
$color-pink: #F78CB6;
$color-pale: #56597A;
$color-pink-pale: #FFF1F9;


* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}


@font-face {
  font-family: 'MetaPro';
  src: url('MetaPro-Normal.eot');
  src: url('MetaPro-Normal.eot?#iefix') format('embedded-opentype'),
      url('MetaPro-Normal.woff') format('woff'),
      url('MetaPro-Normal.ttf') format('truetype'),
      url('MetaPro-Normal.svg#MetaPro-Normal') format('svg');
  font-weight: normal;
  font-style:  normal;
  font-display:  swap;
}

@font-face {
  font-family: 'MetaPro';
  src: url('MetaPro-Bold.eot');
  src: url('MetaPro-Bold.eot?#iefix') format('embedded-opentype'),
      url('MetaPro-Bold.woff') format('woff'),
      url('MetaPro-Bold.ttf') format('truetype'),
      url('MetaPro-Bold.svg#MetaPro-Bold') format('svg');
  font-weight:  bold;
  font-style: normal;
  font-display: swap;
}


.container {
  max-width: 1170px;
  margin: 0 auto;
}


.section-title {
  font-family: 'MetaPro';
  font-weight:  700;
  font-size:   28px;
  line-height: 1.43;
  color: $color-pink;
  text-align: center;
}

.section-subtitle {
  font-family: 'MetaPro';
  font-weight:  700;
  font-size:   52px;
  line-height: 1.38;
  color: $color-pale;
}


.service {
  padding-top: 80px;

  &__title {
    margin-bottom: 6px;
  }

  &__subtitle {
    display: block;
    margin-bottom: 58px;
    text-align: center;
  }

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  &__item {
    padding: 53px 23px 23px;
    max-width:  270px;
    min-height: 307px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $color-pink-pale;
    cursor: pointer;
    border-radius: 8px;

    &:not(:last-child) {
      margin-right: 30px;
    }

    .fas {
      color: $color-pink;
      font-size: 50px;
      margin-bottom: 38px;
    }

    &--active {
      background-color: #F78CB6;
      cursor: auto;

      .service__item-title, .fas,
      .service__item-text {
        color: #fff;
      }

      .service__item-link {
        display: block;
      }

    }

  }

  &__item-title {
    font-weight:  500;
    font-size:   34px;
    line-height: 2.12;
    color: $color-pale;
  }

  &__item-text {
    font-weight: 400;
    font-size:  16px;
    line-height: 1.5;
    text-align: center;
    color: $color-pale;
    margin-bottom: 10px;
  }

  &__item-link {
    display: none;
    font-weight: 500;
    font-size:  20px;
    line-height: 1.5;
    color: #FFFFFF;
  }

  &__link-wrapper {

    ::after {
      content: '';
      display: inline-block;
      width:  0;
      height: 0;
      border: 7px solid transparent;
      border-left: 7px solid #fff;
      margin-left: 8px;
    }

  }

}