// variables


$tablet: 820px;
$mobile: 320px;
$desktop: 1160px;
$main-purple: #9C69E2;
$main-pink: #F063B8;
$black: #212353;
$white: #FFFFFF;
$gray: #4B5D68;

//  font-weight: 500;
//  font-size: 18px;
//  line-height: 160%;