@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
* {
  box-sizing: border-box;
  font-weight: 400;
  font-size: 16px;
}

.container {
  max-width: 1100px;
  width: 100%;
  margin: 0 auto;
  padding: 20px 0;
}

.title {
  color: #243447;
  font-weight: 600;
  font-size: 25px;
  margin-bottom: 20px;
}

.header__container {
  padding-top: 50px;
  display: flex;
}
.header__photo {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 40px;
}
.header__title {
  font-weight: 700;
  font-size: 40px;
  margin-bottom: 20px;
}
.header__content {
  display: flex;
  flex-direction: column;
}
.header__subtitle {
  font-weight: 600;
  font-size: 20px;
  color: gray;
  margin-bottom: 10px;
}

.contacts__list {
  display: flex;
  flex-wrap: wrap;
  min-height: 100px;
}
.contacts__item {
  display: flex;
  align-items: center;
  flex: 50%;
}
.contacts__item::before {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  border: 2px solid #243447;
  border-radius: 50%;
  margin-right: 8px;
  transition: border-color 0.3s;
}
.contacts__item:hover::before {
  border-color: orange;
}
.contacts__link {
  color: #243447;
  transition: color 0.3s;
}
.contacts__link:hover {
  color: orange;
}

.expirience__item:not(:last-child),
.education__item:not(:last-child) {
  margin-bottom: 20px;
}
.expirience__position,
.education__position {
  font-weight: 600;
  font-size: 20px;
  color: gray;
  margin-bottom: 10px;
}
.expirience__company,
.education__company {
  font-weight: 600;
  font-size: 18px;
  display: block;
  margin-bottom: 8px;
}
.expirience__duration,
.education__duration {
  font-weight: 600;
  font-size: 18px;
  display: block;
  margin-bottom: 8px;
}

.skills__item,
.languages__item,
.hobbies__item {
  display: flex;
  align-items: center;
}
.skills__item::before,
.languages__item::before,
.hobbies__item::before {
  content: "";
  display: block;
  width: 8px;
  height: 8px;
  border: 2px solid black;
  border-radius: 50%;
  margin-right: 8px;
}
.skills__item:not(:last-child),
.languages__item:not(:last-child),
.hobbies__item:not(:last-child) {
  margin-bottom: 8px;
}

.hobbies {
  padding-bottom: 40px;
}

/*# sourceMappingURL=style.css.map */
