/* General block */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

.container {
    max-width: 1125px;
    margin: 0 auto;
}

/* Header block */

.header {
    margin-top: 20px;
    margin-bottom: 30px;
}

.header .container {
    min-height: 78px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header nav {
    display: flex;
}

.header ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 325px;
    margin-right: 50px;
}

.menu-link {
    font-weight: 500;
    font-size: 14px;
    color: #2F281E;
}

.header .sign-links {
    min-width: 247px;
    display: flex;
    justify-content: space-evenly;

}
.sign-link {
    padding: 11px 25px 11px;
    font-weight: 600;
    font-size: 16px;
    color: #173A56;
}

.gray-a {
    border: 1px solid #BCD0E5;
    box-sizing: border-box;
    border-radius: 4px;
}

.yellow-a {
    color: #fff;
    background: #FF9900;
    border-radius: 4px;
}


/* Hero section */

.hero {
    margin-bottom: 111px;
}

.hero .container {
    display: flex;
}


.hero h1 {
    padding-top: 60px;
    font-weight: 700;
    font-size: 44px;
    line-height: 54px;
    color: #2F281E;
    margin-bottom: 30px;
}

.text p {
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    color: #544837;
    max-width: 458px;
    margin-bottom: 45px;
}

.hero a {
    padding: 15px 41px;
    font-weight: 700;
    font-size: 16px;
}
.hero .buttons {
    display: flex;
    gap: 30px;
}
.hero button {
    display: flex;
    gap: 8px;
    align-items: center;
    border: none;
    background-color: #FFFFFF;
}

.hero .button-text {
    font-weight: 600;
    font-size: 16px;
    text-decoration-line: underline;
    color: #FF9900;
}

.triangle {
    width: 16px;
    height: 19px;
    background-image: url(../img/Triangle\ Copy\ 6.svg);
    background-repeat: no-repeat;
    background-position: center ;

}

/* Design tools */
.design-tools {
    margin-bottom: 120px;
    padding-bottom: 90px;
}

.design-tools h2 {
    margin: 0 auto;
    max-width: 539px;
    font-family: Poppins;
    font-weight: 700;
    font-size: 36px;
    line-height: 54px;
    text-align: center;
    color: #2F281E;
    margin-bottom: 54px;
}

.tool-list {
    display: flex;
    padding: 0 15px 0;
    justify-content: space-between;
    margin-bottom: 60px;
}

.tool-list li {
    max-width: 240px;
}

.tool-list img {
    margin-bottom: 30px;
}

.tool-list h3 {
    font-weight: 600;
    font-size: 22px;
    line-height: 33px;
    color: #2F281E;
    margin-bottom: 13px;
}

.tool-list p {
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: #544837;
}

.design-tools a {
    margin: 0 auto;
    display: block;
    max-width: 175px;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-transform: uppercase;
    padding: 15px 32px 14px 34px;
}

.sign-up-now {
    text-align: center;
}

/* Footer */
.footer .container {
    border-top: 1px solid rgba(188, 208, 229, 0.496913);;
    padding-top: 102px;
    display: flex;
}

.footer .logo {
    margin-right: 138px;
}

.link-footer {
    font-weight: 500;
    font-size: 16px;
    line-height: 35px;
    color: #544837;
}

.footer .about-us {
    margin-right: 129px;
    max-width: 72px;
    max-height: 140px;

}

.footer .legal-stuff {
    margin-right: 82px;
    max-width: 132px;
    max-height: 140px;
}

.footer .form {
    padding-top: 91px;
    display: flex;
    flex-direction: column;
}

.footer .container ul {
    padding-top: 65px;
}

.form input {
    width: 325px;
    padding: 10px 15px;
    background: #FFFFFF;
    border: 1px solid #BCD0E5;
    box-sizing: border-box;
    border-radius: 4px;
    font-size: 16px;
    line-height: 28px;
    color: #BCD0E5;
    margin-bottom: 21px;
}

.form a {
    width: 131px;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    padding: 8px 15px 7px;
    margin-bottom: 89px;
}
