@import "nullstyle.scss";


@mixin horizontal-auto {
  margin-left: auto;
  margin-right: auto;
}


@mixin flex-align-center {
  display: flex;
  align-items: center;
}

@mixin flex-align-column {
  display: flex;
  flex-direction: column;
}


@mixin flex-center {
  @include flex-align-center;
  justify-content: center;
}


$color-black: #262626;


body {
  color: $color-black;
  font-family: 'Raleway', sans-serif;
  font-size:   17px;
  font-weight:  300;
  line-height: 27px;
}


.container {
  @include horizontal-auto;
  max-width: 1175px;
  width: 100%;
}


.logo {
  width: 127px;
  height: 52px;
}


.navigation {
  
  &__list {
    @include flex-align-center();
  }
  
  &__item {
    position: relative;

    &::after {
      position: absolute;
      content: "";
      width:   0%;
      height: 3px;
      background-color: #ff6033;
      left: 50%;
      top: -9px;
      transition: all 0.24s ease-in-out;
    }
    
    &:not(:last-child) {
      margin-right: 38px;
    }
  
    &:hover::after{
      width: 100%;
      left: 0;
    }

  }

  &__link {
    color: $color-black;
    font-size:   16px;
    font-weight:  700;
    line-height: 25px;
    text-transform: uppercase;
  }

}


.header {
  position: fixed;
  top:   0;
  right: 0;
  left:  0;
  z-index: 10;
  background-color: #ffffff;
  
  &__container {
    @include flex-align-center;
    justify-content: space-between;
    padding-top:    50px;
    padding-bottom: 20px;
  }

}

.main-button {
  color: #ffffff;
  font-size:   20px;
  line-height: 27px;
  text-transform: uppercase;
  padding: 20px 25px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  transition: all 0.3s;
  
  &--red {
    background-color: #ff6033;
  }
  
  &:hover {
    opacity: 0.8;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.6);
  }

}

.hero {
  height: 100vh;
  background-image: url('../img/hero.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;

  &__container {
    padding-top: 360px;
  }

  &__title {
    font-size:   60px;
    font-weight:  900;
    line-height: 25px;
    margin-bottom: 34px;
  }

  &__description  {
    max-width: 368px;
    margin-bottom: 31px;
  }

  &__scroll-btn {
    position: absolute;
    top: calc(0.9 * 100vh);
    left: 50%;
    transform: translateX(-50%);
    background: transparent;

    &:hover .hero__scroll-icon{
      transform: translateY(30%);
    }

  }

  &__scroll-icon {
    width:  24px;
    height: 40px;
    transition: transform 0.4s ease-in-out;
  }

}


.bucket-icon {
  width:  47px;
  height: 44px;
}


.plant-icon {
  width:  55px;
  height: 49px;
}


.earth-icon {
  width:  54px;
  height: 54px;
}


.carrot-icon {
  width:  55px;
  height: 55px;
}



.service {
  background-color: #70bfff;

  &__container {
    @include flex-align-center;
    flex-direction: row-reverse;
    gap: 132px;
    padding-top: 179px;
    padding-bottom: 158px;
    background-image: url('../img/tomatos.png');
    background-repeat: no-repeat;
    background-position: center right;
  }

}


.section-title {
  color: #ffffff;
  font-size: 90px;
  font-weight: 700;
  line-height: 27px;
}


.service-list {
  @include flex-align-column();
  gap: 20px;
  
  &__item {
    background-color: #ffffff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    transition: all 0.3s ease-in-out;

    &:hover {
      background-color: #ff6033;
      box-shadow: 0 3px 5px rgba(0, 0, 0, 0.8);
    }

  }

  &__link {
    @include flex-align-center();
  }

  &__item-text {
    @include flex-center;
    color: $color-black;
    padding: 0 32px;
    max-width: 300px;
    width: 100%;
    min-height: 100px;
    font-size: 20px;
    font-weight: 700;
    line-height: 27px;
    text-align: center;
    border-right: 1px solid #9d9d9d;
    transition: color 0.3s ease-in-out;

  }

  &__icon-wrapper {
    @include flex-center();
    max-width: 100px;
    width: 100%;
  }

  &__item-icon{
    fill: $color-black;
    transition: fill 0.3s ease-in-out;

  }

  &__item:hover &__item-text{
    color: #ffffff;
  }

  &__item:hover &__item-icon{
    fill: #ffffff;
  }

}