@use 'variables' as *;
@use 'mixins' as *;

.main-heading {
	font-weight: 700;
	font-size: 26px;
	line-height: 32px;
	text-align: center;
	text-transform: uppercase;
	color: $brown-light;
}

@media screen and (min-width: $desktop) {
	.main-heading {
		font-size: 50px;
		line-height: 61px;
	}
}

.hero {
	&__container {
		padding-top: calc(60px + 15vh);
		display: flex;
		flex-direction: column;
		align-items: flex-end;
	}

	&__title {
		max-width: 210px;
		margin-bottom: 21px;
	}

	&__btn {
		margin-right: 29px;
	}
}

@media screen and (min-width: $tablet) {
	.hero {
		&__container {
			padding-top: 15vh;
		}

		&__title {
			margin-bottom: 20px;
			margin-right: 68px;
		}

		&__btn {
			margin-right: 96px;
		}
	}
}

@media screen and (min-width: $desktop) {
	.hero {
		&__container {
			padding-top: 17vh;
		}

		&__title {
			max-width: 400px;
			margin-bottom: 50px;
			margin-right: 0;
		}

		&__btn {
			margin-right: 85px;
		}
	}
}

.hero {
	.splide__track {
		height: calc(100vh);
	}

	@media screen and (min-width: $tablet) {
		.splide__track {
			height: calc(100vh - 60px);
		}
	}

	@media screen and (min-width: $desktop) {
		.splide__track {
			height: calc(100vh - 80px);
		}
	}

	.splide__pagination {
		gap: 12px;
		bottom: 20px;
	}

	@media screen and (min-width: $tablet) {
		.splide__pagination {
			gap: 20px;
		}
	}

	@media screen and (min-width: $desktop) {
		.splide__pagination {
			gap: 50px;
			bottom: 50px;
		}
	}

	@media screen and (min-width: $desktop) {
		.splide__pagination__page {
			@include wh(20px);
		}
	}
}

.splide__pagination__page.is-active {
	background: $tomato-light;
	transform: none;
}

.splide__pagination__page {
	@include wh(12px);
	background: $dot-inactive;
	.is-active {
		transform: scale(1);
	}
}
