@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
/* SASS mixin end */
/* SASS mixin end */
/* SASS mixin start */
/* SASS mixin end */
::selection {
  background: rgba(240, 99, 184, 0.4);
  color: #9C69E2;
}

body {
  font-family: "Avenir";
  font-weight: 500;
  font-size: 18px;
  line-height: 160%;
  color: #4B5D68;
}

.container {
  max-width: 1160px;
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;
}

.logo {
  display: block;
  width: 39.2px;
  height: 28px;
  cursor: pointer;
}
.logo__icon {
  width: 100%;
  height: 100%;
}

@media screen and (min-width: 820px) {
  .logo {
    width: 49px;
    height: 35px;
  }
}
.burger {
  cursor: pointer;
  color: #4B5D68;
  font-size: 40px;
  transition: color 0.3s ease-in-out;
}
.burger:hover {
  color: #F063B8;
}

.nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.nav__checkbox {
  position: absolute;
  visibility: hidden;
  width: 0px;
  height: 0px;
}
.nav__list {
  position: fixed;
  top: 90px;
  right: 0;
  left: 0;
  transform: scaleY(0);
  transform-origin: top;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  flex-direction: column;
  transition: transform 0.2s ease-in;
  background-color: #FFFFFF;
  border-bottom: 1px solid rgba(240, 99, 184, 0.6);
  cursor: pointer;
}
.nav__item {
  border-top: 1px solid rgba(240, 99, 184, 0.6);
  width: 100%;
  padding: 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.nav__item:hover .nav__link {
  color: #F063B8;
}
.nav__link {
  font-size: 22px;
  transition: color 0.2 ease;
  color: #4B5D68;
  line-height: 1;
}
@media screen and (min-width: 1160px) {
  .nav__link {
    font-size: 16px;
  }
}
.nav__checkbox:checked + .nav__list {
  transform: scaleY(1);
}

@media screen and (min-width: 820px) {
  .nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
  }
  .nav__checkbox, .nav__burger {
    display: none;
  }
  .nav__list {
    transform: scaleY(1);
    position: static;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    gap: 40px;
    background-color: transparent;
    border-bottom: none;
  }
  .nav__item {
    border-top: none;
    width: unset;
    padding: 0;
    display: block;
  }
}
.demo-btn {
  max-width: 180px;
  width: 100%;
  min-height: 50px;
  padding: 10px 10px;
  padding-left: 14px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-weight: 800;
  font-size: 14px;
  line-height: 1;
  letter-spacing: 0.005em;
  color: #212353;
  background-color: #FFFFFF;
  box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
}
.demo-btn__arrow {
  font-size: 30px;
  color: #9C69E2;
}
.demo-btn:hover {
  background-color: rgba(240, 99, 184, 0.4);
  box-shadow: 0px 5px 30px 4px rgba(156, 105, 226, 0.5);
}

@media screen and (min-width: 820px) {
  .demo-btn {
    max-width: 210px;
    width: 100%;
    min-height: 60px;
    padding: 10px 20px;
    padding-left: 24px;
    gap: 20px;
    font-size: 16px;
  }
}
.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background-color: #FFFFFF;
}
.header__container {
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.header__right-side {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
.header__nav {
  order: 1;
}

@media screen and (min-width: 820px) {
  .header {
    position: static;
  }
  .header__container {
    padding-top: 50px;
    padding-bottom: 30px;
    justify-content: start;
    gap: 121px;
  }
  .header__right-side {
    gap: 40px;
    width: 100%;
  }
  .header__nav {
    order: 0;
  }
}
.btn-no-arrow {
  max-width: 150px;
  width: 100%;
  min-height: 50px;
  padding: 8px 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-weight: 800;
  font-size: 16px;
  border-radius: 50px;
  color: #212353;
  border: 1px solid transparent;
  line-height: 1;
  transition: all 0.3s;
}
.btn-no-arrow--purple {
  color: #FFFFFF;
  background-color: #9C69E2;
}
.btn-no-arrow--purple:hover {
  color: #F063B8;
  border-color: #F063B8;
  background-color: #FFFFFF;
  box-shadow: 0px 5px 30px 4px rgba(240, 99, 184, 0.5);
}
.btn-no-arrow--pink {
  color: #FFFFFF;
  background-color: #F063B8;
}
.btn-no-arrow--pink:hover {
  color: #9C69E2;
  border-color: #9C69E2;
  background-color: #FFFFFF;
  box-shadow: 0px 5px 30px 4px rgba(156, 105, 226, 0.5);
}

@media screen and (min-width: 820px) {
  .btn-no-arrow {
    max-width: 170px;
    min-height: 60px;
    padding: 10px 15px;
    font-size: 18px;
  }
}
.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.section-title {
  font-family: "Helvetica";
  font-weight: 700;
  font-size: 40px;
  line-height: 130%;
  color: #212353;
  font-size: 40px;
  font-size: calc(30px + (40 - 30) * ((100vw - 320px) / (1160 - 320)));
}
@media screen and (max-width: 320px) {
  .section-title {
    font-size: 30px;
  }
}
@media screen and (min-width: 1160px) {
  .section-title {
    font-size: 40px;
  }
}

.hero__container {
  padding-top: 170px;
  margin-bottom: 100px;
  margin-bottom: calc(80px + (100 - 80) * ((100vw - 320px) / (1160 - 320)));
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  flex-direction: column;
}
@media screen and (max-width: 320px) {
  .hero__container {
    margin-bottom: 80px;
  }
}
@media screen and (min-width: 1160px) {
  .hero__container {
    margin-bottom: 100px;
  }
}
@media screen and (min-width: 820px) {
  .hero__container {
    padding-top: 80px;
  }
}
.hero__img-container {
  max-width: 885px;
  width: 100%;
  margin-bottom: 40px;
  margin-bottom: calc(25px + (40 - 25) * ((100vw - 320px) / (1160 - 320)));
}
@media screen and (max-width: 320px) {
  .hero__img-container {
    margin-bottom: 25px;
  }
}
@media screen and (min-width: 1160px) {
  .hero__img-container {
    margin-bottom: 40px;
  }
}
.hero__text-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  flex-direction: column;
  max-width: 645px;
  width: 100%;
}
.hero__title {
  font-size: 80px;
  font-size: calc(40px + (80 - 40) * ((100vw - 320px) / (1160 - 320)));
  margin-bottom: 50px;
  margin-bottom: calc(20px + (50 - 20) * ((100vw - 320px) / (1160 - 320)));
  line-height: 1.1;
  text-align: center;
  max-width: 645px;
}
@media screen and (max-width: 320px) {
  .hero__title {
    font-size: 40px;
  }
}
@media screen and (min-width: 1160px) {
  .hero__title {
    font-size: 80px;
  }
}
@media screen and (max-width: 320px) {
  .hero__title {
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 1160px) {
  .hero__title {
    margin-bottom: 50px;
  }
}
.hero__description {
  margin-bottom: 50px;
  margin-bottom: calc(20px + (50 - 20) * ((100vw - 320px) / (1160 - 320)));
  text-align: center;
  max-width: 380px;
}
@media screen and (max-width: 320px) {
  .hero__description {
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 1160px) {
  .hero__description {
    margin-bottom: 50px;
  }
}

@media screen and (min-width: 1160px) {
  .hero__container {
    padding-top: 100px;
    align-items: start;
    background-image: url("../img/image-hero.png");
    background-repeat: no-repeat;
    background-position: bottom right 20px;
  }
  .hero__img-container {
    display: none;
  }
  .hero__text-content {
    display: block;
    padding-bottom: 100px;
  }
  .hero__title, .hero__description {
    text-align: start;
  }
}
.about-us {
  padding-left: 40px;
  padding-left: calc(10px + (40 - 10) * ((100vw - 320px) / (1160 - 320)));
  padding-right: 40px;
  padding-right: calc(10px + (40 - 10) * ((100vw - 320px) / (1160 - 320)));
}
@media screen and (max-width: 320px) {
  .about-us {
    padding-left: 10px;
  }
}
@media screen and (min-width: 1160px) {
  .about-us {
    padding-left: 40px;
  }
}
@media screen and (max-width: 320px) {
  .about-us {
    padding-right: 10px;
  }
}
@media screen and (min-width: 1160px) {
  .about-us {
    padding-right: 40px;
  }
}
.about-us__container {
  padding-top: 30px;
  padding-top: calc(20px + (30 - 20) * ((100vw - 320px) / (1160 - 320)));
  padding-bottom: 25px;
  padding-bottom: calc(15px + (25 - 15) * ((100vw - 320px) / (1160 - 320)));
  margin-bottom: 150px;
  margin-bottom: calc(80px + (150 - 80) * ((100vw - 320px) / (1160 - 320)));
  border-radius: 50px;
  border-radius: calc(10px + (50 - 10) * ((100vw - 320px) / (1160 - 320)));
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  flex-direction: column;
  background: rgba(240, 99, 184, 0.15);
}
@media screen and (max-width: 320px) {
  .about-us__container {
    padding-top: 20px;
  }
}
@media screen and (min-width: 1160px) {
  .about-us__container {
    padding-top: 30px;
  }
}
@media screen and (max-width: 320px) {
  .about-us__container {
    padding-bottom: 15px;
  }
}
@media screen and (min-width: 1160px) {
  .about-us__container {
    padding-bottom: 25px;
  }
}
@media screen and (max-width: 320px) {
  .about-us__container {
    margin-bottom: 80px;
  }
}
@media screen and (min-width: 1160px) {
  .about-us__container {
    margin-bottom: 150px;
  }
}
@media screen and (max-width: 320px) {
  .about-us__container {
    border-radius: 10px;
  }
}
@media screen and (min-width: 1160px) {
  .about-us__container {
    border-radius: 50px;
  }
}
.about-us__img-container {
  max-width: 477px;
  width: 100%;
  margin-bottom: 40px;
  margin-bottom: calc(25px + (40 - 25) * ((100vw - 320px) / (1160 - 320)));
}
@media screen and (max-width: 320px) {
  .about-us__img-container {
    margin-bottom: 25px;
  }
}
@media screen and (min-width: 1160px) {
  .about-us__img-container {
    margin-bottom: 40px;
  }
}
.about-us__text-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  flex-direction: column;
  max-width: 475px;
  width: 100%;
}
.about-us__title {
  margin-bottom: 40px;
  margin-bottom: calc(20px + (40 - 20) * ((100vw - 320px) / (1160 - 320)));
  text-align: center;
}
@media screen and (max-width: 320px) {
  .about-us__title {
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 1160px) {
  .about-us__title {
    margin-bottom: 40px;
  }
}
.about-us__description {
  text-align: center;
}

@media screen and (min-width: 1160px) {
  .about-us {
    padding: 0;
  }
  .about-us__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    box-shadow: none;
  }
  .about-us__img-container {
    margin: 0 62px 0 11px;
  }
  .about-us__text-content {
    display: block;
  }
  .about-us__title, .about-us__description {
    text-align: start;
  }
}
.flex-block {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  flex-direction: column;
}

@media screen and (min-width: 1160px) {
  .flex-block {
    flex-wrap: wrap;
    flex-direction: row;
    align-items: stretch;
    gap: 50px;
  }
}
.flex-item {
  padding-top: 20px;
  padding-bottom: 20px;
  max-width: 530px;
  width: 100%;
  min-height: 358px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  flex-direction: column;
}
.flex-item:not(:last-child) {
  margin-bottom: 50px;
}
.flex-item__image {
  margin-bottom: 30px;
}
.flex-item__info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  flex-direction: column;
}
.flex-item__title {
  font-family: "Helvetica";
  font-weight: 400;
  font-size: 20px;
  line-height: 130%;
  color: #212353;
  margin-bottom: 15px;
}
.flex-item__description {
  max-width: 300px;
  font-weight: 400;
  font-size: 14px;
  text-align: center;
  color: #4B5D68;
  margin-bottom: 15px;
}
.flex-item__learn-more {
  font-weight: 800;
  font-size: 14px;
  letter-spacing: 0.005em;
  color: #212353;
  display: block;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  transition: color 0.3s;
}
.flex-item__learn-more:hover {
  color: #F063B8;
}
.flex-item__learn-more:hover .flex-item__arrow {
  color: #F063B8;
}
.flex-item__arrow {
  font-size: 18px;
  color: #9C69E2;
  margin-left: 10px;
  transition: color 0.3s;
}

@media screen and (min-width: 1160px) {
  .flex-item {
    padding-top: 50px;
    padding-bottom: 33px;
    flex-direction: row;
    justify-content: space-between;
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: contain;
  }
  .flex-item--first {
    background-image: url(../img/background-1.png);
  }
  .flex-item--second {
    background-image: url(../img/background-2.png);
  }
  .flex-item--third {
    background-image: url(../img/background-3.png);
  }
  .flex-item--fourth {
    background-image: url(../img/background-4.png);
  }
  .flex-item:not(:last-child) {
    margin-bottom: 0;
  }
  .flex-item__image {
    margin-bottom: 0;
  }
  .flex-item__info {
    align-items: flex-start;
    margin-right: 50px;
  }
  .flex-item__title {
    font-size: 24px;
    margin-bottom: 20px;
  }
  .flex-item__description {
    max-width: 220px;
    font-size: 16px;
    text-align: start;
    margin-bottom: 20px;
    height: 100%;
    flex-grow: 1;
  }
  .flex-item__learn-more {
    font-size: 16px;
  }
  .flex-item__arrow {
    font-size: 20px;
  }
}
.features__container {
  margin-bottom: 150px;
  margin-bottom: calc(80px + (150 - 80) * ((100vw - 320px) / (1160 - 320)));
}
@media screen and (max-width: 320px) {
  .features__container {
    margin-bottom: 80px;
  }
}
@media screen and (min-width: 1160px) {
  .features__container {
    margin-bottom: 150px;
  }
}
.features__title {
  margin-bottom: 50px;
  margin-bottom: calc(30px + (50 - 30) * ((100vw - 320px) / (1160 - 320)));
  text-align: center;
}
@media screen and (max-width: 320px) {
  .features__title {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1160px) {
  .features__title {
    margin-bottom: 50px;
  }
}
.features__description {
  max-width: 584px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 100px;
  margin-bottom: calc(50px + (100 - 50) * ((100vw - 320px) / (1160 - 320)));
}
@media screen and (max-width: 320px) {
  .features__description {
    margin-bottom: 50px;
  }
}
@media screen and (min-width: 1160px) {
  .features__description {
    margin-bottom: 100px;
  }
}

.testimonial-item {
  background-color: #FFFFFF;
  box-shadow: 0px 20px 0px rgba(156, 105, 226, 0.3);
  border-radius: 20px;
  border-radius: calc(10px + (20 - 10) * ((100vw - 320px) / (1160 - 320)));
  padding-top: 60px;
  padding-top: calc(30px + (60 - 30) * ((100vw - 320px) / (1160 - 320)));
  padding-left: 70px;
  padding-left: calc(35px + (70 - 35) * ((100vw - 320px) / (1160 - 320)));
  padding-right: 70px;
  padding-right: calc(35px + (70 - 35) * ((100vw - 320px) / (1160 - 320)));
  padding-bottom: 50px;
  padding-bottom: calc(25px + (50 - 25) * ((100vw - 320px) / (1160 - 320)));
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  flex-direction: column;
  align-items: flex-start;
}
@media screen and (max-width: 320px) {
  .testimonial-item {
    border-radius: 10px;
  }
}
@media screen and (min-width: 1160px) {
  .testimonial-item {
    border-radius: 20px;
  }
}
@media screen and (max-width: 320px) {
  .testimonial-item {
    padding-top: 30px;
  }
}
@media screen and (min-width: 1160px) {
  .testimonial-item {
    padding-top: 60px;
  }
}
@media screen and (max-width: 320px) {
  .testimonial-item {
    padding-left: 35px;
  }
}
@media screen and (min-width: 1160px) {
  .testimonial-item {
    padding-left: 70px;
  }
}
@media screen and (max-width: 320px) {
  .testimonial-item {
    padding-right: 35px;
  }
}
@media screen and (min-width: 1160px) {
  .testimonial-item {
    padding-right: 70px;
  }
}
@media screen and (max-width: 320px) {
  .testimonial-item {
    padding-bottom: 25px;
  }
}
@media screen and (min-width: 1160px) {
  .testimonial-item {
    padding-bottom: 50px;
  }
}
.testimonial-item__photo {
  width: 60px;
  height: 60px;
  margin-bottom: 30px;
}
.testimonial-item__info {
  max-width: 385px;
  width: 100%;
}
.testimonial-item__name {
  font-family: "Avenir";
  font-weight: 900;
  font-size: 16px;
  letter-spacing: 0.005em;
  color: #212353;
}
.testimonial-item__link {
  font-family: "Avenir";
  font-weight: 500;
  font-size: 12px;
  line-height: 160%;
  letter-spacing: 0.01em;
  color: #9C69E2;
  transition: text-decoration 0.3s;
  margin-bottom: 10px;
}
.testimonial-item__link:hover {
  text-decoration: underline;
}
.testimonial-item__feedback {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.8;
  color: #4B5D68;
}

@media screen and (min-width: 820px) {
  .testimonial-item {
    flex-direction: row;
  }
  .testimonial-item__photo {
    width: 90px;
    height: 90px;
    margin-bottom: 0;
    margin-right: 30px;
  }
  .testimonial-item__info {
    padding-top: 20px;
  }
  .testimonial-item__name {
    font-size: 18px;
  }
  .testimonial-item__link {
    font-size: 14px;
    margin-bottom: 19px;
  }
  .testimonial-item__feedback {
    font-size: 18px;
  }
}
.testimonials {
  padding-left: 40px;
  padding-left: calc(10px + (40 - 10) * ((100vw - 320px) / (1160 - 320)));
  padding-right: 40px;
  padding-right: calc(10px + (40 - 10) * ((100vw - 320px) / (1160 - 320)));
}
@media screen and (max-width: 320px) {
  .testimonials {
    padding-left: 10px;
  }
}
@media screen and (min-width: 1160px) {
  .testimonials {
    padding-left: 40px;
  }
}
@media screen and (max-width: 320px) {
  .testimonials {
    padding-right: 10px;
  }
}
@media screen and (min-width: 1160px) {
  .testimonials {
    padding-right: 40px;
  }
}
.testimonials__container {
  padding-top: 110px;
  padding-top: calc(80px + (110 - 80) * ((100vw - 320px) / (1160 - 320)));
  padding-bottom: 133px;
  padding-bottom: calc(50px + (133 - 50) * ((100vw - 320px) / (1160 - 320)));
  padding-right: 80px;
  padding-right: calc(40px + (80 - 40) * ((100vw - 320px) / (1160 - 320)));
  padding-left: 80px;
  padding-left: calc(40px + (80 - 40) * ((100vw - 320px) / (1160 - 320)));
  margin-bottom: 150px;
  margin-bottom: calc(80px + (150 - 80) * ((100vw - 320px) / (1160 - 320)));
  border-radius: 50px;
  border-radius: calc(10px + (50 - 10) * ((100vw - 320px) / (1160 - 320)));
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  flex-direction: column;
  background-color: #9C69E2;
}
@media screen and (max-width: 320px) {
  .testimonials__container {
    padding-top: 80px;
  }
}
@media screen and (min-width: 1160px) {
  .testimonials__container {
    padding-top: 110px;
  }
}
@media screen and (max-width: 320px) {
  .testimonials__container {
    padding-bottom: 50px;
  }
}
@media screen and (min-width: 1160px) {
  .testimonials__container {
    padding-bottom: 133px;
  }
}
@media screen and (max-width: 320px) {
  .testimonials__container {
    padding-right: 40px;
  }
}
@media screen and (min-width: 1160px) {
  .testimonials__container {
    padding-right: 80px;
  }
}
@media screen and (max-width: 320px) {
  .testimonials__container {
    padding-left: 40px;
  }
}
@media screen and (min-width: 1160px) {
  .testimonials__container {
    padding-left: 80px;
  }
}
@media screen and (max-width: 320px) {
  .testimonials__container {
    margin-bottom: 80px;
  }
}
@media screen and (min-width: 1160px) {
  .testimonials__container {
    margin-bottom: 150px;
  }
}
@media screen and (max-width: 320px) {
  .testimonials__container {
    border-radius: 10px;
  }
}
@media screen and (min-width: 1160px) {
  .testimonials__container {
    border-radius: 50px;
  }
}
.testimonials__title {
  color: #FFFFFF;
  margin-bottom: 85px;
  margin-bottom: calc(30px + (85 - 30) * ((100vw - 320px) / (1160 - 320)));
}
@media screen and (max-width: 320px) {
  .testimonials__title {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1160px) {
  .testimonials__title {
    margin-bottom: 85px;
  }
}

@media screen and (min-width: 1160px) {
  .testimonials {
    padding: 0;
  }
  .testimonials__title {
    align-self: start;
  }
}
.help-list {
  margin-bottom: 20px;
}
.help-list__title {
  font-weight: 900;
  font-size: 14px;
  color: #212353;
  margin-bottom: 15px;
  text-align: center;
}
.help-list__link {
  display: block;
  font-weight: 400;
  font-size: 14px;
  line-height: 250%;
  color: #212353;
  text-align: center;
  transition: color 0.3s;
}
.help-list__item:hover .help-list__link {
  color: #F063B8;
}

@media screen and (min-width: 1160px) {
  .help-list {
    margin-bottom: 0;
  }
  .help-list__title {
    text-align: start;
    font-size: 16px;
    margin-bottom: 30px;
  }
  .help-list__link {
    font-size: 16px;
    color: #212353;
    text-align: start;
  }
}
.smm__list {
  display: flex;
  gap: 14px;
}
.smm__link {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  background-color: rgba(33, 35, 83, 0.1);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s;
}
.smm__icon {
  fill: #FFFFFF;
  width: 16px;
  height: 16px;
  transition: fill 0.3s;
}
.smm__icon--f {
  width: 9.58px;
  height: 20.49px;
}
.smm__icon--twitter {
  width: 18.27px;
  height: 15.07px;
}
.smm__item:hover .smm__link {
  background-color: rgba(240, 99, 184, 0.3);
}
.smm__item:hover .smm__icon {
  fill: #9C69E2;
}

.all-rights {
  font-weight: 400;
  font-size: 10px;
  line-height: 180%;
  letter-spacing: 0.01em;
  color: #212353;
  padding-top: 100px;
  padding-top: calc(40px + (100 - 40) * ((100vw - 320px) / (1160 - 320)));
  max-width: 300px;
  text-align: center;
}
@media screen and (max-width: 320px) {
  .all-rights {
    padding-top: 40px;
  }
}
@media screen and (min-width: 1160px) {
  .all-rights {
    padding-top: 100px;
  }
}

@media screen and (min-width: 1160px) {
  .all-rights {
    font-size: 12px;
    max-width: 300px;
    text-align: start;
  }
}
.footer {
  border-top: 2px solid rgba(156, 105, 226, 0.2);
}
.footer__container {
  padding-top: 100px;
  padding-top: calc(50px + (100 - 50) * ((100vw - 320px) / (1160 - 320)));
  margin-bottom: 100px;
  margin-bottom: calc(50px + (100 - 50) * ((100vw - 320px) / (1160 - 320)));
}
@media screen and (max-width: 320px) {
  .footer__container {
    padding-top: 50px;
  }
}
@media screen and (min-width: 1160px) {
  .footer__container {
    padding-top: 100px;
  }
}
@media screen and (max-width: 320px) {
  .footer__container {
    margin-bottom: 50px;
  }
}
@media screen and (min-width: 1160px) {
  .footer__container {
    margin-bottom: 100px;
  }
}
.footer__row, .footer__title-container, .footer__co-info, .footer__text-container, .footer__about-help, .footer__smm, .footer__buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  flex-direction: column;
}
.footer__title {
  margin-bottom: 10px;
}
.footer__info {
  font-size: 16px;
  margin-bottom: 35px;
}
.footer__btn {
  margin-bottom: 35px;
}
.footer__logo {
  margin-bottom: 10px;
}
.footer__co-name {
  font-family: "Avenir";
  font-weight: 900;
  font-size: 18px;
  line-height: 160%;
  color: #212353;
  margin-bottom: 40px;
}
.footer__adress {
  font-family: "Avenir";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 180%;
  letter-spacing: 0.01em;
  color: #212353;
  max-width: 250px;
  display: block;
  text-align: center;
  margin-bottom: 10px;
}
.footer__link {
  font-family: "Avenir";
  font-weight: 400;
  font-size: 16px;
  line-height: 180%;
  letter-spacing: 0.01em;
  color: #212353;
  transition: color 0.3s;
  margin-bottom: 5px;
}
.footer__link:hover {
  color: #F063B8;
}

@media screen and (min-width: 1050px) {
  .footer__title-container, .footer__co-info {
    display: block;
  }
  .footer__row, .footer__about-help, .footer__buttons {
    flex-direction: row;
    align-items: flex-start;
  }
  .footer__text-container {
    align-items: start;
  }
  .footer__about-help {
    gap: 150px;
    margin-right: 32px;
  }
  .footer__row {
    justify-content: space-between;
  }
  .footer__row--first {
    align-items: center;
    margin-bottom: 150px;
  }
  .footer__buttons {
    align-items: center;
    gap: 30px;
    width: 410px;
  }
  .footer__btn {
    margin-bottom: 0;
  }
  .footer__title {
    margin-bottom: 20px;
  }
  .footer__info {
    font-size: 18px;
    margin-bottom: 0;
  }
  .footer__logo {
    display: inline-block;
    margin-bottom: 67px;
    margin-right: 20px;
  }
  .footer__co-name {
    display: inline-block;
    font-size: 20px;
    margin-bottom: 0;
  }
  .footer__adress {
    text-align: start;
  }
  .footer__link {
    margin-bottom: 0;
  }
}

/*# sourceMappingURL=style.css.map */
